*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $content-primary;
  background-color: $neutral-100;
  font-weight: $font-weight-regular;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: $primary;
  text-decoration: none;
}
